.odd {
    background-color: hsl(0, 96%, 73%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#even {
    color: rgb(25, 0, 255);
    font-size: 36px
}
.adjust-font-size {
    font-size: 24px;
}

#four {
    font-weight: bold;
    background-color: hsl(140, 100%, 50%);
}